{% ckan_extends %}

{% block resource_read_title %}
  <h1 class="page-heading">{{ h.resource_display_name(res) | truncate(50) }}
  {{ h.get_validation_badge(res)|safe }}
  </h1>

  {% asset 'ckanext-validation/main_css' %}
{% endblock %}
{% block resource_read_url %}
  <p class="text-muted break-word">{{ _('Resource ID:') }} <span style="color: #e31837">{{ res.id }}</span></p>

  {% if res.format == 'url'%}
    {% if res.url and h.is_url(res.url) %}
      <H2 class="text-muted ellipsis">{{ _('URL:') }} <a class="resource-url-analytics" href="{{ res.url }}" title="{{ res.url }}">{{ res.url }}</a></H2>
    {% elif res.url %}
      <H2 class="text-muted break-word">{{ _('URL:') }} {{ res.url }}</H2>
    {% endif %}
  {% else %}
    {% if res.url and h.is_url(res.url) %}
      <p class="text-muted ellipsis">{{ _('URL:') }} <a class="resource-url-analytics" href="{{ res.url }}" title="{{ res.url }}">{{ res.url }}</a></p>
    {% elif res.url %}
      <p class="text-muted break-word">{{ _('URL:') }} {{ res.url }}</p>
    {% endif %}
  {% endif %}
{% endblock %}
