{% extends "package/base.html" %}


{%- block subtitle %}{{ _('Validation Report') }}{% endblock -%}

{% block breadcrumb_content_selected %}{% endblock %}
{% block breadcrumb_content %}
  {{ super() }}
  <li>{% link_for h.resource_display_name(resource)|truncate(30), named_route=pkg.type ~ '_resource.read', id=pkg.name, resource_id=resource.id %}</li>
  <li class="active"><a href="">Validation Report</a></li>
{% endblock %}

{% block pre_primary %}

    <section class="module module-validation">
      <div class="module-content">
        <div class="actions">

        </div>

        <h1 class="page-heading">{{ h.resource_display_name(resource) | truncate(50) }}
        {{ h.get_validation_badge(resource)|safe }}
        </h1>

        <div class="validation-details">
            <div>{{ _('Validation timestamp') }}: {{ h.render_datetime(resource.validation_timestamp, with_hours=True) }}</div>
            {% if validation.report %}
            <div>{{ _('Duration') }}: {{ validation.report.time }}s</div>
            {% endif %}
        </div>

        {% if validation.report %}
            <script>
              window.spec_override = {{h.validation_get_goodtables_spec() | safe}};
            </script>
            <div id="report" {% if h.bootstrap_version() == '2' %}class="bs2"{% endif %} data-module="validation-report" data-module-report="{{ h.dump_json_value(validation.report) }}"></div>
        {% endif %}

        {% if validation.error %}
        <div class="alert alert-danger">
            <H4> {{_('Error validating data')}} </H4>
            {% for key, value in validation.error.iteritems() %}
                <p class="validation-error">
                <span class="validation-error-key">{{key}}</span> - <span class="validation-error-message">{{value}}</span>
                </p>
            {% endfor %}
        </div>
        {% endif %}
        </div>
      </div>
    </section>

   {% asset 'ckanext-validation/report_js' %}
   {% asset 'ckanext-validation/report_css' %}

{% endblock %}


{% block primary %}{% endblock %}

{% block secondary %}{% endblock %}
